<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SnipShare</title>
    <meta charset="UTF-8" />
    <meta name="color-scheme" content="light dark" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/png"
      href="/favicons/favicon-48x48.png"
      sizes="48x48"
    />
    <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/favicons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicons/apple-touch-icon.png"
    />
    <link rel="manifest" href="/favicons/site.webmanifest" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
  </head>
  <body>
    <header class="container">
      <nav>
        <hgroup>
          <a style="text-decoration: none" href="/">
            <h1 style="margin: 0">SnipShare</h1>
          </a>
          <p>Share snippets of text easily!</p>
        </hgroup>
        <div style="flex-direction: column">
          <% if (authUser) { %>
          <ul>
            <li><a href="<%= `/u/${authUser.username}` %>">My Snips</a></li>
            <li>
              <details class="dropdown">
                <summary style="border: none" role="button" class="outline">
                  <%= authUser.username %>
                </summary>
                <ul>
                  <li><a href="/profile">Profile</a></li>
                  <li><a href="<%= logoutUrl %>">Logout</a></li>
                </ul>
              </details>
            </li>
          </ul>
          <% } else { %>
          <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
          <% } %>
        </div>
      </nav>
    </header>
    <main id="main" class="container">
      <h2><%= `${name}'s Snips` %></h2>
      <% if (snips.length === 0) { %>
      <h3>SNIPS EMPTY</h3>
      <% } else { %> <% snips.forEach((snip) => { %>
      <article>
        <% if (authUser && authUser.username === snip.author) { %>
        <nav>
          <h3><a href="<%= `/${snip.retrievalId}` %>"><%= snip.title %></a></h3>
          <div>
            <a href="" style="text-decoration: none">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="48"
                viewBox="0 0 24 24"
                style="fill: rgba(0, 0, 0, 1)"
              >
                <path
                  d="M19.045 7.401c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.378-.378-.88-.586-1.414-.586s-1.036.208-1.413.585L4 13.585V18h4.413L19.045 7.401zm-3-3 1.587 1.585-1.59 1.584-1.586-1.585 1.589-1.584zM6 16v-1.585l7.04-7.018 1.586 1.586L7.587 16H6zm-2 4h16v2H4z"
                ></path>
              </svg>
            </a>
            <a href="" style="text-decoration: none">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="48"
                height="48"
                viewBox="0 0 24 24"
                style="fill: rgba(255, 0, 0, 1)"
              >
                <path
                  d="M5 20a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V8h2V6h-4V4a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v2H3v2h2zM9 4h6v2H9zM8 8h9v12H7V8z"
                ></path>
                <path d="M9 10h2v8H9zm4 0h2v8h-2z"></path>
              </svg>
            </a>
          </div>
        </nav>
        <% } else { %>
        <h3><a href="<%= `/${snip.retrievalId}` %>"><%= snip.title %></a></h3>
        <% } %>
        <hr />
        <nav>
          <p>
            <span><i class="bx bxs-calendar"></i></span>
            <%= snip.createdAt %>
          </p>
          <p>
            <span><i class="bx bxs-stopwatch"></i></span>
            <% if (snip.expires) { %> <%= snip.expiryDate %> <% } else { %>
            NEVER <% } %>
          </p>
          <p>
            <span><i class="fas fa-eye"></i></span>
            69 (TEST)
          </p>
        </nav>
      </article>
      <% }); %> <% } %>
    </main>
  </body>
</html>
