<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SnipShare</title>
    <meta charset="UTF-8" />
    <meta name="color-scheme" content="light dark" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/png"
      href="/favicons/favicon-48x48.png"
      sizes="48x48"
    />
    <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/favicons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicons/apple-touch-icon.png"
    />
    <link rel="manifest" href="/favicons/site.webmanifest" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
  </head>
  <body>
    <header class="container">
      <nav>
        <hgroup>
          <a style="text-decoration: none" href="/">
            <h1 style="margin: 0">SnipShare</h1>
          </a>
          <p>Share snippets of text easily!</p>
        </hgroup>
        <div style="flex-direction: column">
          <% if (authUser) { %>
          <br />
          <details class="dropdown">
            <summary style="border: none" role="button" class="outline">
              <%= authUser.username %>
            </summary>
            <ul>
              <li><a href="/profile">Profile</a></li>
              <li><a href="<%= logoutUrl %>">Logout</a></li>
            </ul>
          </details>
          <ul></ul>
          <% } else { %>
          <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
          <% } %>
        </div>
      </nav>
    </header>
    <main id="main" class="container">
      <% if (snip) { %> <% if (snip.isDisposable) { %>
      <article id="delete-warning">
        <h2>Warning! Disposable Snip!</h2>
        <p>
          This snip is <strong>disposable</strong> and will be
          <strong>disposed</strong> after you read it.
        </p>
        <p>Do you wish to continue?</p>
        <form action="<%= id %>" method="post">
          <button id="open-snip-btn" type="submit" value="true" name="dispose">
            Open Snip
          </button>
        </form>
        <button
          id="copy-link-btn"
          type="submit"
          value="http://localhost:3000/<%= id %>"
        >
          Copy link to clipboard
        </button>
      </article>
      <script>
        const copyLinkBtn = document.querySelector("#copy-link-btn");
        copyLinkBtn.addEventListener("click", (event) => {
          const link = copyLinkBtn.value;

          navigator.clipboard
            .writeText(link)
            .then(() => {
              alert("Copied to clipboard!");
            })
            .catch((err) => {
              console.error("Failed to copy: ", err);
            });
        });
      </script>
      <% } else { %>
      <h1><%= snip.title %></h1>
      <hr />
      <nav>
        <p>
          <span><i class="bx bxs-user"></i></span>
          <%= snip.author %>
        </p>
        <p>
          <span><i class="bx bxs-calendar"></i></span>
          <%= snip.createdAt %>
        </p>
      </nav>
      <nav>
        <p>
          <span><i class="bx bxs-stopwatch"></i></span>
          <% if (snip.expires) { %> <%= snip.expiryDate %> <% } else { %> NEVER
          <% } %>
        </p>
        <p>
          <span><i class="fas fa-eye"></i></span>
          69 (TEST)
        </p>
      </nav>
      <article>
        <p><%= snip.content %></p>
      </article>
      <% } %> <% } else { %>
      <article>
        <h2>NOT FOUND</h2>
        <p>Snip must have been expired, disposed, or deleted by the owner.</p>
        <form action="/" , method="get">
          <button type="submit">Create Snip</button>
        </form>
      </article>
      <% } %>
    </main>
  </body>
</html>
